[submodule "VorbisCommentSharp"]
	path = VorbisCommentSharp
	url = https://github.com/libertyernie/VorbisCommentSharp
[submodule "LibDspAdpcm"]
	path = LibDspAdpcm
	url = https://github.com/libertyernie/LibDspAdpcm.git
