[submodule "brawltools"]
	path = brawltools
	url = https://github.com/libertyernie/brawltools
[submodule "VorbisCommentSharp"]
	path = VorbisCommentSharp
	url = https://github.com/libertyernie/VorbisCommentSharp
