<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	  <add key="ffmpeg_path" value="tools\ffmpeg\ffmpeg.exe"/>
	  <add key="qaac_path" value="tools\qaac\qaac.exe"/>
	  <add key="vgmplay_path" value="tools\vgmplay\VGMPlay.exe" />
	  <add key="vgmstream_path" value="tools\vgmstream\test.exe" />
  </appSettings>
</configuration>
