<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="sox_path" value="..\..\tools_win32\sox\sox.exe" />
    <add key="madplay_path" value="..\..\tools_win32\madplay\madplay.exe" />
    <add key="faad_path" value="..\..\tools_win32\faad\faad.exe" />
    <add key="qaac_path" value="..\..\tools_win32\qaac\qaac.exe" />
    <add key="lame_path" value="..\..\tools_win32\lame\lame.exe" />
    <add key="vgmplay_path" value="..\..\tools_win32\vgmplay\VGMPlay.exe" />
    <add key="vgmstream_path" value="..\..\tools_win32\vgmstream\test.exe" />
  </appSettings>
</configuration>
